@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* ! Card.jsx css code here........... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ddd;
}

.flex-1 {
  display: flex;
  justify-content: space-around;
}

.flex-1 > h2 {
  font-size: 3rem;
}
.flex-1 > p {
  font-size: 1.6rem;
}
/* ! card design css code...... */
.grid {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 90px auto;
}

.grid-item {
  background-color: #fff;

  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-image {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;

  /* background-color: #9ea7c3; */
}

.card-header {
  font-size: 2.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 0.3rem 1rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
}

/* Small devices  */
@media only screen and (max-width: 320px) {
  .flex-1 {
    flex-direction: column;
    gap: 30px;
  }
  .flex-1 > h2 {
    font-size: 4rem;
    margin-left: 1rem;
  }

  .flex-1 > p {
    margin-left: 2rem;
    font-size: 1.6rem;
  }
  .grid {
    width: 100%;
    margin: 3rem 2rem;
  }
  .grid-item {
    width: 90%;
  }
  .card-header {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .flex-1 {
    flex-direction: column;
    gap: 30px;
  }
  .flex-1 > h2 {
    font-size: 4rem;
    margin: auto;
  }

  .flex-1 > p {
    width: 70%;
    margin: auto;
  }

  .grid {
    width: max(90%, 400px);
    margin: 4rem;
    grid-template-columns: 1fr;
  }
  .grid-item {
    width: 90%;
  }
  .card-header {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1033px) {
  .flex-1 {
    flex-direction: column;
    gap: 30px;
  }
  .flex-1 > h2 {
    font-size: 4rem;
    margin: auto;
  }

  .flex-1 > p {
    width: 70%;
    margin: auto;
  }

  .grid {
    width: 90%;
    margin: 3rem 6rem;
  }
  .grid-item {
    width: 85%;
  }
  .grid-item:last-of-type {
    grid-row-start: center;
  }
}

/* ! Shape css code here

.shape {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0 100px;
}

.shape span {
  font-size: 30px;
  font-weight: 800;
  vertical-align: -60px;
}
.rect {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-color: rgb(220, 240, 243);
  border-radius: 30% 3% 30% 3%;
  font-size: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-color: rgb(220, 240, 243);
  border-radius: 1% 70% 7% 30%;
}
.poly {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-color: rgb(220, 240, 243);
  border-radius: 10% 30% 10% 30%;
} */


